.masthead {
    background: url("../images/pigeon_pigeoff.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
    min-height: 100vh;
}

h1 {
  font-size: 4em;
  font-weight: bold;
}

#chart {
  color: white;
}

#twitter {
  color: #14171A;
}

#telegram {
  color: #229ED9;
}

@media (max-width:  768px) {
  .masthead {
    min-height: 30vh;
  }
  h1 {
    font-size: calc(1.525em + 3vw);
  }
}
