.bg-overlay {
    background: url("../images/pigeon_pigeoff.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 780px;
    padding-top: 50px;
}
