.masthead {
    background: url("../images/pigeon_pigeoff.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
    min-height: 100vh;
}

.btn {
  margin: 0.2em;
  font-size: 3.5em;
  font-weight: bold;
}

.btn-lg {
  border-radius: 1rem;
}

#chart {
  color: white;
}

#twitter {
  color: #14171A;
}

#telegram {
  color: #229ED9;
}

@media (max-width:  768px) {
  .masthead {
    min-height: 30vh;
  }
  .btn {
    font-size: calc(0.4em + 0.9vw);
    min-width: 9vh;
  }
}
